In [17]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#####import

In [10]:
import numpy as np 
import pandas as pd
from tensorflow import keras
from tensorflow.keras.layers import Dense,Dropout
from tensorflow.keras.models import Sequential

from sklearn.model_selection import train_test_split

In [11]:
TRAIN_DATA_PATH = '/content/drive/MyDrive/kaggle/titanic/train.csv'
TEST_DATA_PATH = '/content/drive/MyDrive/kaggle/titanic/test.csv'

In [19]:
train_data = pd.read_csv(TRAIN_DATA_PATH)
train_data.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [13]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [20]:
test_data = pd.read_csv(TEST_DATA_PATH)
test_data.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [15]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

#####Choose Features

In [21]:
features = ['Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Pclass', 'Embarked']

train_data['Age'] = train_data['Age'].replace(np.NaN, train_data['Age'].dropna().mean())
test_data['Age']  = test_data['Age'].replace(np.NaN, test_data['Age'].dropna().mean())
test_data['Fare']  = test_data['Fare'].replace(np.NaN, test_data['Fare'].dropna().mean())

train_data['Embarked'] = train_data['Embarked'].fillna(train_data['Embarked'].dropna().mode()[0])
train_data['Embarked'] = train_data['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)
test_data['Embarked']  = test_data['Embarked'].fillna(test_data['Embarked'].dropna().mode()[0])
test_data['Embarked'] = test_data['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)

train_data['Sex'] = train_data['Sex'].map( {'female': 1, 'male': 0} )
test_data['Sex']  = test_data['Sex'].map( {'female': 1, 'male': 0} )


train_filtered = train_data[features + ['Survived']]
X = pd.get_dummies(train_filtered[features])
Y = train_filtered['Survived']

X=np.array(X)
Y=keras.utils.to_categorical(np.array(Y))

In [22]:
X_train, X_val, Y_train, Y_val = train_test_split(X, Y, test_size=0.3, random_state=42)
X_train.shape

(623, 7)

In [23]:
train_data[features].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sex       891 non-null    int64
 1   Age       891 non-null    float64
 2   SibSp     891 non-null    int64
 3   Parch     891 non-null    int64
 4   Fare      891 non-null    float64
 5   Pclass    891 non-null    int64
 6   Embarked  891 non-null    int64
dtypes: float64(2), int64(5)
memory usage: 48.9 KB

In [24]:
test_data[features].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sex       418 non-null    int64
 1   Age       418 non-null    float64
 2   SibSp     418 non-null    int64
 3   Parch     418 non-null    int64
 4   Fare      418 non-null    float64
 5   Pclass    418 non-null    int64
 6   Embarked  418 non-null    int64
dtypes: float64(2), int64(5)
memory usage: 23.0 KB

#####Model

In [44]:
model = Sequential()
# model.add(Dense(64, activation='relu'))
# model.add(Dropout(0.4))
model.add(Dense(2, activation='softmax'))

In [45]:
model.compile(loss=keras.losses.binary_crossentropy, optimizer = keras.optimizers.Adam(learning_rate = 0.001), metrics=['accuracy'])

In [46]:
history=model.fit(X_train,Y_train, batch_size=10, validation_data=(X_val,Y_val),epochs= 50)

Epoch 1/50
63/63 [==============================] - 1s 4ms/step - loss: 8.3787 - accuracy: 0.6292 - val_loss: 8.9677 - val_accuracy: 0.5858
Epoch 2/50
63/63 [==============================] - 0s 3ms/step - loss: 7.3843 - accuracy: 0.6292 - val_loss: 7.8313 - val_accuracy: 0.5896
Epoch 3/50
63/63 [==============================] - 0s 3ms/step - loss: 6.4243 - accuracy: 0.6372 - val_loss: 6.7470 - val_accuracy: 0.5896
Epoch 4/50
63/63 [==============================] - 0s 3ms/step - loss: 5.5017 - accuracy: 0.6437 - val_loss: 5.6844 - val_accuracy: 0.5896
Epoch 5/50
63/63 [==============================] - 0s 3ms/step - loss: 4.5934 - accuracy: 0.6533 - val_loss: 4.6056 - val_accuracy: 0.6007
Epoch 6/50
63/63 [==============================] - 0s 3ms/step - loss: 3.7170 - accuracy: 0.6581 - val_loss: 3.6005 - val_accuracy: 0.6119
Epoch 7/50
63/63 [==============================] - 0s 3ms/step - loss: 2.8768 - accuracy: 0.6549 - val_loss: 2.6271 - val_accuracy: 0.6418
Epoch 8/50
63/63 [==============================] - 0s 3ms/step - loss: 2.1218 - accuracy: 0.6677 - val_loss: 1.8730 - val_accuracy: 0.6567
Epoch 9/50
63/63 [==============================] - 0s 3ms/step - loss: 1.6118 - accuracy: 0.6742 - val_loss: 1.4083 - val_accuracy: 0.6604
Epoch 10/50
63/63 [==============================] - 0s 3ms/step - loss: 1.3093 - accuracy: 0.6806 - val_loss: 1.1531 - val_accuracy: 0.6866
Epoch 11/50
63/63 [==============================] - 0s 3ms/step - loss: 1.1108 - accuracy: 0.6854 - val_loss: 0.9682 - val_accuracy: 0.6978
Epoch 12/50
63/63 [==============================] - 0s 3ms/step - loss: 0.9618 - accuracy: 0.6854 - val_loss: 0.8476 - val_accuracy: 0.6978
Epoch 13/50
63/63 [==============================] - 0s 3ms/step - loss: 0.8448 - accuracy: 0.6886 - val_loss: 0.7602 - val_accuracy: 0.6978
Epoch 14/50
63/63 [==============================] - 0s 3ms/step - loss: 0.7505 - accuracy: 0.6886 - val_loss: 0.7047 - val_accuracy: 0.6978
Epoch 15/50
63/63 [==============================] - 0s 3ms/step - loss: 0.6905 - accuracy: 0.6886 - val_loss: 0.6539 - val_accuracy: 0.6940
Epoch 16/50
63/63 [==============================] - 0s 3ms/step - loss: 0.6513 - accuracy: 0.6982 - val_loss: 0.6327 - val_accuracy: 0.7090
Epoch 17/50
63/63 [==============================] - 0s 3ms/step - loss: 0.6288 - accuracy: 0.7111 - val_loss: 0.6181 - val_accuracy: 0.7164
Epoch 18/50
63/63 [==============================] - 0s 3ms/step - loss: 0.6133 - accuracy: 0.7143 - val_loss: 0.6004 - val_accuracy: 0.7239
Epoch 19/50
63/63 [==============================] - 0s 3ms/step - loss: 0.6020 - accuracy: 0.7159 - val_loss: 0.5914 - val_accuracy: 0.7313
Epoch 20/50
63/63 [==============================] - 0s 3ms/step - loss: 0.5897 - accuracy: 0.7287 - val_loss: 0.5843 - val_accuracy: 0.7313
Epoch 21/50
63/63 [==============================] - 0s 3ms/step - loss: 0.5786 - accuracy: 0.7384 - val_loss: 0.5797 - val_accuracy: 0.7388
Epoch 22/50
63/63 [==============================] - 0s 3ms/step - loss: 0.5697 - accuracy: 0.7335 - val_loss: 0.5636 - val_accuracy: 0.7388
Epoch 23/50
63/63 [==============================] - 0s 3ms/step - loss: 0.5629 - accuracy: 0.7464 - val_loss: 0.5618 - val_accuracy: 0.7500
Epoch 24/50
63/63 [==============================] - 0s 3ms/step - loss: 0.5552 - accuracy: 0.7416 - val_loss: 0.5510 - val_accuracy: 0.7463
Epoch 25/50
63/63 [==============================] - 0s 3ms/step - loss: 0.5481 - accuracy: 0.7512 - val_loss: 0.5530 - val_accuracy: 0.7463
Epoch 26/50
63/63 [==============================] - 0s 3ms/step - loss: 0.5455 - accuracy: 0.7448 - val_loss: 0.5400 - val_accuracy: 0.7537
Epoch 27/50
63/63 [==============================] - 0s 4ms/step - loss: 0.5393 - accuracy: 0.7576 - val_loss: 0.5354 - val_accuracy: 0.7612
Epoch 28/50
63/63 [==============================] - 0s 3ms/step - loss: 0.5341 - accuracy: 0.7640 - val_loss: 0.5290 - val_accuracy: 0.7612
Epoch 29/50
63/63 [==============================] - 0s 3ms/step - loss: 0.5306 - accuracy: 0.7640 - val_loss: 0.5280 - val_accuracy: 0.7537
Epoch 30/50
63/63 [==============================] - 0s 3ms/step - loss: 0.5269 - accuracy: 0.7624 - val_loss: 0.5217 - val_accuracy: 0.7649
Epoch 31/50
63/63 [==============================] - 0s 3ms/step - loss: 0.5229 - accuracy: 0.7624 - val_loss: 0.5199 - val_accuracy: 0.7575
Epoch 32/50
63/63 [==============================] - 0s 3ms/step - loss: 0.5193 - accuracy: 0.7576 - val_loss: 0.5137 - val_accuracy: 0.7724
Epoch 33/50
63/63 [==============================] - 0s 3ms/step - loss: 0.5150 - accuracy: 0.7737 - val_loss: 0.5104 - val_accuracy: 0.7761
Epoch 34/50
63/63 [==============================] - 0s 3ms/step - loss: 0.5139 - accuracy: 0.7753 - val_loss: 0.5060 - val_accuracy: 0.7799
Epoch 35/50
63/63 [==============================] - 0s 3ms/step - loss: 0.5102 - accuracy: 0.7801 - val_loss: 0.5073 - val_accuracy: 0.7649
Epoch 36/50
63/63 [==============================] - 0s 3ms/step - loss: 0.5084 - accuracy: 0.7721 - val_loss: 0.5030 - val_accuracy: 0.7761
Epoch 37/50
63/63 [==============================] - 0s 3ms/step - loss: 0.5067 - accuracy: 0.7753 - val_loss: 0.4980 - val_accuracy: 0.8060
Epoch 38/50
63/63 [==============================] - 0s 3ms/step - loss: 0.5035 - accuracy: 0.7865 - val_loss: 0.4973 - val_accuracy: 0.7836
Epoch 39/50
63/63 [==============================] - 0s 3ms/step - loss: 0.5028 - accuracy: 0.7913 - val_loss: 0.4961 - val_accuracy: 0.7799
Epoch 40/50
63/63 [==============================] - 0s 3ms/step - loss: 0.5000 - accuracy: 0.7881 - val_loss: 0.4942 - val_accuracy: 0.7873
Epoch 41/50
63/63 [==============================] - 0s 3ms/step - loss: 0.4977 - accuracy: 0.7994 - val_loss: 0.4908 - val_accuracy: 0.7948
Epoch 42/50
63/63 [==============================] - 0s 3ms/step - loss: 0.4958 - accuracy: 0.7913 - val_loss: 0.4885 - val_accuracy: 0.7910
Epoch 43/50
63/63 [==============================] - 0s 3ms/step - loss: 0.4950 - accuracy: 0.7978 - val_loss: 0.4856 - val_accuracy: 0.7948
Epoch 44/50
63/63 [==============================] - 0s 3ms/step - loss: 0.4932 - accuracy: 0.8026 - val_loss: 0.4832 - val_accuracy: 0.8097
Epoch 45/50
63/63 [==============================] - 0s 3ms/step - loss: 0.4911 - accuracy: 0.7945 - val_loss: 0.4806 - val_accuracy: 0.8097
Epoch 46/50
63/63 [==============================] - 0s 4ms/step - loss: 0.4897 - accuracy: 0.7994 - val_loss: 0.4821 - val_accuracy: 0.7948
Epoch 47/50
63/63 [==============================] - 0s 3ms/step - loss: 0.4884 - accuracy: 0.7961 - val_loss: 0.4788 - val_accuracy: 0.8097
Epoch 48/50
63/63 [==============================] - 0s 3ms/step - loss: 0.4887 - accuracy: 0.7978 - val_loss: 0.4777 - val_accuracy: 0.7948
Epoch 49/50
63/63 [==============================] - 0s 3ms/step - loss: 0.4843 - accuracy: 0.7978 - val_loss: 0.4743 - val_accuracy: 0.8209
Epoch 50/50
63/63 [==============================] - 0s 3ms/step - loss: 0.4860 - accuracy: 0.8010 - val_loss: 0.4727 - val_accuracy: 0.8209

#####TUTORIAL_MODEL

In [47]:
from sklearn.ensemble import RandomForestClassifier
tutorial_model = RandomForestClassifier(n_estimators=100, max_depth=10)

# for testing acc
tutorial_model.fit(X_train, Y_train)
# tutorial_model.fit(X, Y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=10, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

#####Output

In [49]:
X_test = pd.get_dummies(test_data[features])
# predictions = (model.predict(X_test) > 0.5).astype("int32").T[0]

tutorial_predictions = tutorial_model.predict(X_test)

# test tutorial model acc
# tutorial_predictions = tutorial_model.predict(X_val)
# 1-sum(abs(tutorial_predictions - Y_val))/tutorial_predictions.shape[0]
'random forest acc:', round(tutorial_model.score(X_val, Y_val) * 100, 2)

('random forest acc:', 80.97)

In [44]:
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': tutorial_predictions})

In [45]:
OUTPUTH_FILE_PATH = '/content/drive/MyDrive/kaggle/titanic/my_submission.csv'
output.to_csv(OUTPUTH_FILE_PATH, index=False)